<header>
  <h1>Tiny-App</h1>
  <aside>
    <% if(!user){ %>
      <span>Hello, guest!</span>
    <% } else{ %>
      <h2>User: <%= user.email %></h2>
      <form class="logout" action="/logout" method="POST">
        <button>Logout</button>
      </form>
    <% } %>
  </aside>
</header>
