<style>
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  html {
    font-family: monospace;
  }
  nav {
    position: absolute;
    top: 0;
    width: 100px;
    right: 0;
    font-size: 20px;
  }
  nav li {
    margin-top: 25px;
    text-align: center;
  }
</style>
<nav>
  <ul>
    <li><a href="/urls">Home</a>
    <li><a href="/urls/new">New</a>
  </ul>
</nav>
