<style>
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  html {
    font-family: monospace;
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    padding:0 5px 5px 15px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 0 0 25px;
    font-size: 20px;
  }
  nav li {
    margin-top: 5px;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
  }

  nav a {
    text-decoration: none;
  }
</style>
<nav>
  <ul>
    <li><a href="/urls">Home</a>
    <li><a href="/urls/new">New</a>
  </ul>
</nav>
