<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tiny App/New</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <style>
      p {
        width: 50%;
        margin: 0 auto;
        font: 30px monospace;
      }
      .longURL {
        text-align: center;
        max-width: 60%;
        margin: 25px auto;
        font-size: 20px;
      }
      .longURL button {
        display: block;
        margin: 10px auto;
        width: 150px;
        border: 1px solid #000;
        cursor: pointer;
        height: 20px;
      }
    </style>
  </head>
  <body>
    <% include partials/_header %>
    <% include partials/_nav %>
    <form class="longURL" action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <button>Submit</button>
    </form>
  </body>
</html>
